# {{ prefix }}-{{ module }}

Terraform module for {{ module }} used in Central Data.

## Description
{{ description }}

## Repository Settings
This repository's settings, including permissions and branch protections, are managed by Safe Settings app. See [documentation](https://itvplc.jira.com/wiki/spaces/Symphony/pages/5518622731/Safe-Settings+-+GitHub+settings+as+code).

<!-- BEGIN_TF_DOCS -->
## Providers

No providers.

## Modules

No modules.

## Resources

No resources.

## Inputs

No inputs.

## Outputs

No outputs.
<!-- END_TF_DOCS -->
